@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1600572290291'); /* IE9 */
  src: url('iconfont.eot?t=1600572290291#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAbkAAsAAAAADJgAAAaWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDegqLIIh3ATYCJAMkCxQABCAFhG0HfhuRChEVrA8g+5lg26JJ7zBjuBK+GRvB8rqSweOmfy9CQ4LVoOasE9GqwkyEdg6bB2inQufC/1NDZspEhADAiGM7rwrffq4WjkjICFOUO37XH/nC+0DppOnBwbHUzwTLs7d3yexF0XiUQAOKaIvEAW9CA7O5T2U1SWdWTtRf7HogAHhEoCpIUkpWETgwYDVB3cB+fbqBC1nA5DAJOL0k5VgGZAFYcNRs6iKA+fbPk9eoTTiAAkuD983rndwTLT149ZM2eA3oaCIgbc8F4HoSQAOoCoABiDHVMw20m6kKGvz79xi0BaAABwoSD/EInnhPvmfGq59eLw88fHiYawkUUMFPegCf2v/waDBgIQEBiASkkQE7NMsBHuh88AE8RJKm5WECBa0AE2ho42ECA20+TGChnQEXJNh/KWT7q5HSMX4A1ADZDlAtwZSmqCSgQMDazRwojapJtUAOLB+trCZLTGI/Uabuoe9j3RDQVbdhaYMRGzeHdSzbk6ArEsUJK67XV+y5GsYsv1ZPuf9GZHsDDI4io6uxWTC5m+y7HoFHCjRZNftcMcS8N972f0TJSs01Z7FFs9adajqXuL9J2Za4jRotL4j1JjiedjW6dE633mWa9jYw9icHkw+5yNoaTmexy517xZkvHrrM3vBMpj3LPEFhvE7okiqkQlCaEslmUIarSYOVw0kZ1breYrB0a7xeKN64vcATqMf36mPhFcYJyxyV1l8KViy9orW5IkiRuCFipVtD3G6h8fvD7Aw3rAs5dkzo5vLo3M/1zmfFjqddZKIYALM5UDDpG6PsSBxvsajJ0uNa+YRaicXCyxyOIiovJHe79eGL9BDXlWxMEddbNxSL5o2WLo6nRe0KnxciOtFV27IrwWLTWs9V+8+kXbpdM7mLleyuYnHV2e8MvGBKt7rr7XQEbN6J1krNWwFDufbW5vL0Fc1WS4KBKkZVVk9o0/SseIRHuTzt2i5rrMsTRV6vt1o2h6Dt8cSregh7UhPK2efiv231D0RW2yQx/h0xIqajYu720qKC3r/QuPtR2SH7OLtNNk5WYf9lh2WmCilnsnv2SRr2ijjyyLdGYXjwzo9n8riH3LXhtxokg1KnqXaNpfx2zAubk1rAVFP6ZGQMDQ/0P9e7jyMrZs9FlWp3LTQq1eFOrcExvG5tjdRqhdKVVVvXSSJ9cwJb/niToew4FFnUGd+jNTvUk27P73F/6BSJIqXh5M8fZqv9U+RP9/ymn5dtuytHva5JtjpJtW21D6G8lk2YUO6vW0dliG7rcqWlJSmSjPM2azZZY4t5+OHt2zvv3j68Fm1Td675MHg8O8d919C+qKWqSIxL+/l6R2hW8OojF8/n1/mmpV1qwvXt+nVIMTtquWX0YHbRYnZwuyGRffsmtv8wgxB4p9xko6LYm1JoigyFv25indgF76Qtpe8W7ODtlFx5+MOHsOozzD34tA3e8z3ySL8BJKdHdtPoVNKlC0ld4H0tdOjJ1lTUtKvjsuKLqNLw2LBxfx20UsE4yKYDXmvdGK+A8SOnkkuUe24t0wdVq/z6uokNsFlHT8+mjJV6jm3vkxpXt2v9NvYSexvLWDcu+JntZ62rRBtnZ+vp11XjNvIf/Mrq7vGSTYwjVPFna+zSmRVL/femnmyenvR29r0DbbZZViCKHnqd0WiY61JoigyF/wJROfmTy2IntN+ctEHqM+nZld67zaG7xsfXV4+7tz+wDSYZwC9Oz6DOAd7bs4HWAl7vBp0OAPQR6gjgdY6Brgp4N9Af6KGAd4EtVW7boebdosddlE2/csI/cNGdOW9KqcNrYEAbACWhRWmp4pKWnMF85GyVMq+J65IaXCn6gEtRAHg5D1BWAT/cb9ceiD5yBBwCfaDgg3CgwSEOyWCrAgsBdUECDi2ARxWknizAH8NBgzBSAJUxXQCBCtuBggLHgYYKl5AM9h6wUOMtSKAiNPDQEf9zGgUJ9ePbDMegmGn8Jz9xMZpdH5z6d9gtDRKU26xvyOrj1FWvGc1fUCBtHLD+2F7VkBHOdBY3Q0pMi3DApLVTXU5Njd5pL1RPnHcP2ggGxUzGf+InLsZcWB9i3/8Ou6VBcsZ8C35DVr920qm1JZAXTSk15lha1x/bU3IZ0nuFMzmTC0lmmCzpWwVMWnM1UstJQ3OZspq6f10+1qvg4oudVtPu6e3r73Rxi3gDWBny48gxXhWS2PKt/4Cr7G4+HfLz36xXoDI+pUp4K/NNJO628b6iu9vtAAAA') format('woff2'),
  url('iconfont.woff?t=1600572290291') format('woff'),
  url('iconfont.ttf?t=1600572290291') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1600572290291#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontelegram:before {
  content: "\eaf9";
}

.icontwitterlogo:before {
  content: "\e60a";
}

.icontwitter:before {
  content: "\e60b";
}

.iconMail:before {
  content: "\e625";
}

.iconQQ:before {
  content: "\e651";
}

.icongitee-fill-round:before {
  content: "\e686";
}

.icongithub:before {
  content: "\e600";
}

.icontelegram1:before {
  content: "\e601";
}

